body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #aaa;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    color: #ccc;
}

main {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 1.5em;
}

footer {
    background-color: #aaa;
    height: 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contact用 */

form {
    width: 60%;
}

label {
    display: block;
    margin-top: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
}

.form-error {
    font-size: small;
    color: red;
}

.hidden {
    display: none;
}

@media screen and (max-width:640px) {
    nav, footer{
        background-color: #aac;
    }

    main h1 {
        font-size: 1.5em;
    }

    form{
        width: 90%;
    }

    button{
        width: 100%;
        padding: 10px;
    }
}